<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster-A-alive.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{56,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>Monster-A-dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,5},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BoomMonst.png</string>
            <key>size</key>
            <string>{147,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3da997b9cef39362d2030d4c419a3af3$</string>
            <key>textureFileName</key>
            <string>BoomMonst.png</string>
        </dict>
    </dict>
</plist>
