<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bomb-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,5},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>Bomb-Fire-Root.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,5},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Bomb-Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{25,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,50}}</string>
                <key>sourceSize</key>
                <string>{25,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boom.png</string>
            <key>size</key>
            <string>{177,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d404ea3312c862d540b08595397256d3$</string>
            <key>textureFileName</key>
            <string>Boom.png</string>
        </dict>
    </dict>
</plist>
